.hamburguer-icon {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    cursor: pointer;
    padding: 2px;
    display: none;
}

.container-menu {
    flex-direction: row;
    background-color: #074854;
    padding: 10px;
}

.menu {
    flex-direction: row;
    background-color: #074854;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    margin: 5px;
}

.menu.active {
    display: flex;
    text-align: right;
    margin-top: -20px;
}

@media (max-width: 900px) {
    .container-menu {
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .hamburguer-icon {
        width: 30px;
        height: 2.5px;
        background-color: white;
        margin: 6px 0;
        cursor: pointer;
        padding: 2px;
        display: block;

    }

    .container-menu {
        flex-direction: row;
        background-color: #074854;
        padding: 10px;
        align-items: right;
    }

    .menu.active {
        text-align: center;
    }
}